.env
.env.*
!.env.example
.git
.github
.gitignore
.secrets
vendor
node_modules
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/*.key
storage/keys
storage/api-docs
storage/pail
bootstrap/cache/*.php
public/build
public/hot
*.sqlite
.phpunit.result.cache
tests/
docs/
*.md
!README.md
